{% if items %}
    {% for item in items %}
        <h1> {{ item.name }} </h1>
        <h2> {{ item.description }} </h2>
        <p> Open Time: {{ item.open_time }}</p>
        <p> Close Time: {{ item.close_time }}</p>
    {% endfor %}
{% else %}
    <h1>No Entries Logged!</h1>
{% endif %}
